<div class="container">
    <div class="row">
      <div class="col-md-1">
        <a href="#">About Us</a>
      </div>
      <div class="col-md-1">
        <a href="#">Contacts</a>
      </div>
      <div class="col-md-1">
        <a href="#">Store Location</a>
      </div>
      <div class="col-md-1">
        <a href="#">Track order</a>
      </div>
      <div class="col-md-1 paddingNecessary">
        <a href="#">Blog</a>
      </div>
      <div class="col-md-1">
        <a href="#">Compare:</a>
      </div>
      <div class="col-md-1">
        <a href="#">Currency:</a>
      </div>
      <div class="col-md-1">
        <a href="#">Language:</a>
      </div>
    </div>
  </div>