<div class="container">
    <div class="row">
      <div class="col-md">
        <a href="#" id="logo">REDPARTS</a>
      </div>
      <div class="col-md">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </div>
      <div class="col-md">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
      </div>
      <div class="col-md">
        Notification Alert
      </div>
      <div class="col-md">
        Login and alert
      </div>
      <div class="col-md">
        Shopping cart
      </div>
    </div>
  </div>
